--- 
- name: "add nodejs from source"
  become: true 
  shell: |
   curl -sL https://deb.nodesource.com/setup_13.x | sudo -E bash - 
   apt -y update
- name: "installing process"
  become: true 
  apt:
    name: ["nodejs"]
    status: latest 
    update_cache: yes
    
- name: "install pm2"
  npm:
   name: pm2 
   global: yes