--- 
- name: "add nodejs from source"
  become: true 
  command: |
   curl -sL https://deb.nodesource.com/setup_13.x | sudo -E bash - 
- name: "get node version"
  become: true 
  shell: |
   echo $(node --version)
- name: "add ipdate"
  become: true
  apt:
    update_cache: yes 
    force_apt_get: yes 
    cache_valid_time: 3600
- name: "installing process"
  become: true 
  apt:
    name: ["nodejs"]
    status: latest 
    update_cache: yes
    
- name: "install pm2"
  npm:
   name: pm2 
   global: yes